@import "_variables";
@import "_header";

a{
  text-decoration: none;
} 
.welcome{
  background-image: url(../image/01.jpg);
  background-size: cover;
  padding: 8rem 0;
  background-position: bottom left;
  text-align: center;
  .welcome-text{
    h1{
      margin: 0;
      color: #3CB371;
      font-size: 5em;
      font-weight: 800;
      font-style: italic;
    }
    span{
      
      color: $black;
      font-size: 4em;
      font-weight: 800;
    }
    a{
      border: 1px solid $black;
      display: inline-block;
      background-color: $black;
      color: #3CB371;
      padding: 15px 30px;
      margin: 10px 0;
      padding-right: 20px 30px;
      transition: .4s ease-in-out;
      &:hover{
        background-color: #2C2828;
        color: white;
      }
      i{
        background-color: $white;
        color: $gold;
        padding: 15px;  
        margin-left: 10px;
      }
    }
  }
}
.left-rightphotosection{
  .left-rightphoto{
    height: 400px;
    .leftphoto{
    
      width: 50%;
      background-image: url(../image/nausnik.jpg);
      .sale{
        margin-left: 570px;
        margin-top: 20px;
        width: 13%;
        text-align: center;
      }
        h1{
          font-size: 25px;
          color: #fff;
          
          background-color: #008000;
        }
        h3{
          font-size: 17px;
          line-height: 26px;
          color: black;
          margin-bottom: 10px;
          margin-left: 15px;
          margin-top: 80px;
          
        }
        h2{
          font-weight: bold;
          color: #fff;
          width: 40%;
          margin-left: 15px;
        }
        button{
        background-color: #fff;
        color: #2C2828;
        border: #fff;
        border-radius: 30px;
        padding: 12px 30px;
        font-weight: 500;
        margin-left: 15px;
        }
      
      }
    .rightphoto{
      width: 50%;
      background-image: url(../image/klavis.jpg);
      h1{
        font-size: 40px;
        line-height: 46px;
        color: #2C2828;
        font-weight: bold;
        margin-top: 160px;
        width: 50%;
        margin-left: 15px;
      }
      button{
        background-color: #008000;
        border-radius: 5px;
        border: #008000;
        padding: 12px 30px;
        color: #fff;
        font-weight: 500;
        margin-left: 15px;
        
      }
    }
  }
}
.featured-products{
  margin-top: 25px;
  background-color: #E8E8E8;
  .headerof-featured{
    .left-header{
      h1:nth-child(1){
        color: #2C2828;
      }
      h1:nth-child(2){
        color: #3CB371;
      }
    }
    .right-header{
      button{
        background-color: #008000;
        border: #008000;
        color: #fff;
        font-size: 25px;
      }

    }
  }
  .phototext-part{
    margin-top: 35px;
    margin-bottom: 90px;
    .boxese1{
      
      height: 350px;
      width: 262.5px;
      margin-right: 30px;
      .image-part{
        overflow: hidden;
        position: relative;
        right: 25;
        img{
          width: 262.5px;
          height: 290px;
        }

      }
      .text-part{
        h3{
          font-size: 23px;
          color: #221b1b;
          margin-top: 15px;
          margin-left: 5px;
        }
        h4{
          margin-top: 15px;
          margin-right: 5px;
        }
      }
    }
  }
}
.hot-deal{
  background-color: #3CB371;
  .1stpart{
    text-align: center;
    h1{
      font-size: 40px;
      font-weight:700;
    }
    h1:nth-child(1){
      color: #221B1B;
      
    }
    h1:nth-child(2){
      color: #fff;
    }
  }
  .boxespart{
    .box1{
      color: #008000;
      opacity: 1;
      border: 1px solid #fff;
      width: 25%;
      height: 160px;
      text-align: center;
      padding: 30px 10px;
      h1{
        color: #fff;
      }
      h2{
        color: #221b1b;
      }
    }
  }
}